/* COLORS */
$text-color: #2d3343;
$heading-color: #313b59;
$background-linear-color: linear-gradient(
  90deg,
  #014c88 0%,
  #015da0 47.4%,
  #026ab3 100%
);
$input-color: #969696;
$background-color: #f4f7fb;
$border-color: #f2f2f2;
$accent-color: #e27410;
$focus-color: rgb(226, 116, 0.3);
$hover-color: #f47a0b;

/* TRANSITIONS */
$main-transition: all ease-in-out 0.3s;
